.footer-container {
    margin-bottom: 0px;
    height: 130px;
    background-color: var(--primary-color);
    display: flex;
}



.logo-footer {
    Width: 64px;
    Height: 64px;
    margin-top: 36px;
    margin-left: 56px;
}

.logo-text-footer {
    text-align: center;
    margin-top: 45px;
    margin-left: 40px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.sub-text-footer {
    font-size: 12px;
    font-weight:lighter;
}



.faleConosco-text {
    margin-top: 55px;
    margin-right: 70px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.faleConosco-items {
    margin-top: 24px;
    color: black;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
}

.icons-container-FaleConosco {
    margin-top: 25px;
}



.Links-text {
    margin-top: 55px;
    margin-right: 70px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.Links-items {
    margin-top: 40px;
    color: black;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
}

.icons-container-Links {
    margin-top: 42px;
}



.icon {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.vertical-line {
    border-right: 1px solid black;
    height: 130px;
    width: 1px;
    margin-right: 50px;
    margin-left: 50px;
}