@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --primary-color: #c4c4c4
}

html, body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #F0F0F0;
}