.navbar-container {
    height: 95px;
    background-color: var(--primary-color);
    display: flex;
}

.logo {
    Width: 50px;
    Height: 50px;
    margin-top: 22px;
    margin-left: 56px;
}

.logo-text {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 210px;
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.button-item {
    margin-top: 30px;
    margin-left: 50px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}